<section class="auth-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" formControlName="email" />
      <mat-hint>Please enter your email address</mat-hint>
      <mat-error *ngIf="formGroup.controls.email.hasError('required')">
        Field must not be empty
      </mat-error>
      <mat-error *ngIf="!formGroup.controls.email.hasError('required')">Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" formControlName="password" />
      <mat-hint>Please enter your password</mat-hint>
      <mat-error *ngIf="formGroup.controls.password.hasError('required')">
        Field must not be empty
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="formGroup.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
