html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.auth-form {
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: lightgray;
  }
}

mat-card.mat-card {
  padding: 30px 20px;
}
